<div class="create-div">
    <table>
        <tr>
            <h1>Cadastrar Usuário</h1>
            <form action="/usuario/create">
                <td><input type="text" class="text-field" name="email" placeholder="Email"></td>
                <td><input type="password" class="text-field" name="new_password" placeholder="Senha"></td>
        
                {% if not logged_in %}
                    <td><input type="password" class="text-field" name="c_password" placeholder="Confirmar Senha"></td>
                {% endif %}
        
                {% if is_admin %}
                    <td><select class="combo-box" name="is_admin">
                        <option value="0">Usuário</option>
                        <option value="1">Administrador</option>
                    </select></td>
                {% endif %}
        
                <td><input type="submit" class="btn" value="Cadastrar" formmethod="post"></td>
            </form>
        </tr>
    </table>
</div>

