<div class="create-div">
    <hr>
    <h3>Inserir Evento</h3>
    <table>
        <tr>
            <form action="/event/create">
                <td><input type="text" class="text-field" name="event_description" placeholder="Descrição"></td>

                <td><select class="combo-box" name="is_input_event">
                    <option value="0">Alarme</option>
                    <option value="1">Registro</option>
                </select></td>
        
                <td><input type="submit" class="btn" value="Cadastrar" formmethod="post"></td>
            </form>
        </tr>
    </table>
</div>

