<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Trabalhos</title>
</head>
 
<body>
    {% include 'header/index.html'%}

    <div class="centralized-div">
        <h1>Trabalhos</h1>
        <table>
            <tr>
                <td><label class="text-field">ID</label></td>
                <td><label class="text-field">E-Mail</label></td>
                <td><label class="text-field">Data</label></td>
                <td><label class="text-field">Nome</label></td>
                <td><label class="text-field">Total (R$)</label></td>
                <td><label class="text-field">Status</label></td>
            </tr>
            {% for id, email, data, nome, status, valor in trabalhos %}
                {% if id %}
                    {% if status == 0 %}
                    <tr>
                        <td><label>{{ id }}</label></td>
                        <td><label>{{ email }}</label></td>
                        <td><label>{{ nome }}</label></td>
                        <td><label>{{ data }}</label></td>
                        <td><label>R$ {{ valor }}</label></td>
                        <td><label>Fechado</label></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><form action="/trabalho/view/{{ id }}"><input type="submit" class="btn" value="Visualizar" formmethod="post"></form></td>
                    </tr>
                    {% else %}
                        {% include 'trabalho/update.html' %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </table>
    </div>

    {% include 'trabalho/view.html' %}

    {% include 'trabalho/create.html' %}

</body>
</html>