<div class="create-div">
    <hr>
    <h3>Inserir Paciente</h3>
    <table>
        <tr>
            <form action="{{ url_for('create_patient') }}" method="post">
                <td><input type="text" class="text-field" name="patient_name" placeholder="Nome do paciente"></td>
                <td><input type="date" class="text-field" name="birth_date" value="{{ birth_date }}"></td>

                <td>
                    <button class="action-btn">
                        <img src="{{ url_for('static', filename='image/create-icon.png')}}" class="action-btn-img" id="create-btn">
                    </button>
                </td>
            </form>
        </tr>
    </table>
</div>