<tr>
    <form action="{{ url_for('update_alarm', id=id) }}" method="post">

        <td><label>{{ id }}</label></td>

        <td><select class="combo-box" name="event_id">
            {% for eid, description, is_input in events %}
                {% if not is_input %}
                    {% if eid == event_id %}
                        <option value="{{ eid }}" selected>{{ description }}</option>
                    {% else %}
                        <option value="{{ eid }}">{{ description }}</option>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </select></td>

        <td><input type="time" class="text-field" name="alarm_time" value="{{ alarm_time }}"></td>

        {% if is_admin %}
            <td><select class="combo-box" name="patient_id">
                {% for pid, pname, birth in patients %}
                    {% if pid == patient_id %}
                        <option value="{{ pid }}" selected>{{ pname }}</option>
                    {% else %}
                        <option value="{{ pid }}">{{ pname }}</option>
                    {% endif %}
                {% endfor %}
            </select></td>
        {% endif %}
        
        <td>
            <button class="action-btn">
                <img src="{{ url_for('static', filename='image/edit-icon.png')}}" class="action-btn-img">
            </button>
        </td>
    </form>

    <form action="{{ url_for('delete_alarm', id=id) }}" method="post">
        <td>
            <button class="action-btn">
                <img src="{{ url_for('static', filename='image/trash-icon.png')}}" class="action-btn-img">
            </button>
        </td>
    </form>

</tr>