<tr>
    <form action="/alarm/update/{{ id }}" method="post">

        <td><label>{{ id }}</label></td>

        <td><select class="combo-box" name="event_id">
            {% for eid, description, is_input in events %}
                {% if not is_input %}
                    {% if eid == event_id %}
                        <option value="{{ eid }}" selected>{{ description }}</option>
                    {% else %}
                        <option value="{{ eid }}">{{ description }}</option>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </select></td>

        <td><input type="time" class="text-field" name="start_shift" value="{{ alarm_time }}"></td>

        {% if is_admin %}
            <td><select class="combo-box" name="patient_id">
                {% for pid, pname, birth in patients %}
                    {% if pid == patient_id %}
                        <option value="{{ pid }}" selected>{{ pname }}</option>
                    {% else %}
                        <option value="{{ pid }}">{{ pname }}</option>
                    {% endif %}
                {% endfor %}
            </select></td>
        {% endif %}
        
        <td><input type="submit" class="btn" value="Atualizar"></td>
    </form>

    <form action="/caregiver/delete/{{ id }}" method="post">
        <td><input type="submit" class="btn" value="Apagar"></td>
    </form>

</tr>