<hr>
<div class="centralized-div">
    <h1>Cadastrar Material</h1>
    <table>
        <tr>
            <form action="/material/create">
        
                <td><input type="text" class="text-field" name="name" value="" placeholder="Nome do Material"></td>
        
                <td>
                    <select class="combo-box" name="supplier_id">
                        {% for cb_fornecedor_id, fornecedor_nome in fornecedores %}
                            <option value="{{cb_fornecedor_id}}">{{fornecedor_nome}}</option>
                        {% endfor %}
                    </select>
                </td>
        
                <td><input type="number" min="0.1" step="any" class="text-field" name="value" value="" placeholder="R$"></td>
                <td><input type="number" min="0" step="any" class="text-field" name="stock" value="" placeholder="Total em Estoque"></td>
                <td><input type="number" min="0" step="any" class="text-field" name="min_stock" value="" placeholder="Estoque Mínimo"></td>
                <td><input type="submit" class="btn" value="Cadastrar" formmethod="post"></td>
                <td></td>
            </form>
        </tr>
    </table>
</div>

