<div name="device-{{ id }}">
    <tr>
        <form action="{{ url_for('update_device', id=id) }}" method="post">
            <td><label>{{ id }}</label></td>
    
            <td><input type="text" class="text-field" name="name" value="{{ name }}"></td>
    
            {% if is_admin %}
                <td><select class="combo-box" name="patient_id">
                    {% for pid, pname, birth in patients %}
                        {% if pid == patient_id %}
                            <option value="{{ pid }}" selected>{{ pname }}</option>
                        {% else %}
                            <option value="{{ pid }}">{{ pname }}</option>
                        {% endif %}
                    {% endfor %}
                </select></td>
            {% endif %}
    
            <td><select class="combo-box" name="event_button_1">
                {% for eid, description, is_input in events %}
                    {% if is_input %}
                        {% if eid == event_button_1 %}
                            <option value="{{ eid }}" selected>{{ description }}</option>
                        {% else %}
                            <option value="{{ eid }}">{{ description }}</option>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </select></td>
    
            <td><select class="combo-box" name="event_button_2">
                {% for eid, description, is_input in events %}
                    {% if is_input %}
                        {% if eid == event_button_2 %}
                            <option value="{{ eid }}" selected>{{ description }}</option>
                        {% else %}
                            <option value="{{ eid }}">{{ description }}</option>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </select></td>
    
            <td><select class="combo-box" name="event_button_3">
                {% for eid, description, is_input in events %}
                    {% if is_input %}
                        {% if eid == event_button_3 %}
                            <option value="{{ eid }}" selected>{{ description }}</option>
                        {% else %}
                            <option value="{{ eid }}">{{ description }}</option>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </select></td>
    
            <td>
                <button class="action-btn">
                    <img src="{{ url_for('static', filename='image/edit-icon.png')}}" class="action-btn-img">
                </button>
            </td>
        </form>
        <form action="{{ url_for('delete_device', id=id) }}" method="post">
            <td>
                <button class="action-btn">
                    <img src="{{ url_for('static', filename='image/trash-icon.png')}}" class="action-btn-img">
                </button>
            </td>
        </form>
        <form action="{{ url_for('trigger_alarm_test', device_id=id) }}" method="post">
            <td>
                <button class="action-btn">
                    <img src="{{ url_for('static', filename='image/bell-icon.png')}}" class="action-btn-img">
                </button>
            </td>
        </form>
    </tr>
</div>
