<div class="create-div">
    <table>
        <tr>
            <h1>Cadastrar Usuário</h1>
            <form action="{{ url_for('create_user') }}" method="post">
                <td><input type="text" class="text-field" name="email" placeholder="Email"></td>
                <td><input type="password" class="text-field" name="new_password" placeholder="Senha"></td>
        
                {% if not logged_in %}
                    <td><input type="password" class="text-field" name="c_password" placeholder="Confirmar Senha"></td>
                {% endif %}
        
                {% if is_admin %}
                    <td><select class="combo-box" name="is_admin">
                        <option value="0">Usuário</option>
                        <option value="1">Administrador</option>
                    </select></td>
                {% endif %}
        
                <td>
                    <button class="action-btn">
                        <img src="{{ url_for('static', filename='image/create-icon.png')}}" class="action-btn-img" id="create-btn">
                    </button>
                </td>
            </form>
        </tr>
    </table>
</div>

