<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <title>Página Inicial</title>
</head>
 
<body>

    {% include 'header/index.html' %}
    <br><div class="centralized-div">
        <form action="/event">
            <input type="submit" class="btn" value="Events" formmethod="post">
        </form>
    <br></div>

    <br><div class="centralized-div">
        <form action="/alarm">
            <input type="submit" class="btn" value="Alarmes" formmethod="post">
        </form>
    <br></div>

    <br><div class="centralized-div">
        <form action="/caregiver">
            <input type="submit" class="btn" value="Cuidador" formmethod="post">
        </form>
    <br></div>

    <br><div class="centralized-div">
        <form action="/patient">
            <input type="submit" class="btn" value="Paciente" formmethod="post">
        </form></div>
    <br>
    
    <br><div class="centralized-div">
        <form action="/device">
            <input type="submit" class="btn" value="Dispositivos" formmethod="post">
        </form>
    <br></div>

    <br>
    <div class="centralized-div">
        <form action="/user">
            <input type="submit" class="btn" value="Usuários" formmethod="post">
        </form>
    <br></div>

    <br><div class="centralized-div">
        <form action="/historic">
            <input type="submit" class="btn" value="Histórico" formmethod="post">
        </form>
    <br></div>

</body>
 
</html>