<hr>
<div class="centralized-div">
    <h1>Pedido Atual</h1>

    <table>
        {% for id, material_id, quantidade in items %}
            {% include '/item/update.html'%}            
        {% endfor %}
    </table>
    <br>
    <table>
        <tr>            
            {% include '/item/create.html'%} 
    
            <form action="/pedido/close">
                <td><input type="submit" class="btn" value="Fechar Pedido" formmethod="post"></td>
            </form>
        </tr>
    </table>
</div>

