<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <title>Página Inicial</title>
</head>
 
<body>

    {% include 'header/index.html' %}
    <br><div class="centralized-div">
        <form action="/device">
            <input type="submit" class="btn" value="Dispositivos" formmethod="post">
        </form>
    <br></div>

    <br><div class="centralized-div">
    <form action="/follow">
        <input type="submit" class="btn" value="Acompanhnados" formmethod="post">
    </form></div>
    <br>

    <br><div class="centralized-div">
    <form action="/hist">
        <input type="submit" class="btn" value="Histórico" formmethod="post">
    </form></div>
    <br>

    <br>
    <div class="centralized-div">
        <form action="/user">
            <input type="submit" class="btn" value="Usuários" formmethod="post">
        </form>
    </div>

</body>
 
</html>