<div class="create-div">
    <table>
        <tr>
            <h1>Cadastrar Acompanhados</h1>
            <form action="/follow/create">
                <td><input type="text" class="text-field" name="nome" placeholder="Nome do acompanhando"></td>
                <td><input type="text" id="data" class="text-field" name="datan" value="{{ datan }}"></td>
                <td><input type="text" class="text-field" name="acomp" placeholder="Nome dos acompanhantes"></td>
                <td><input type="submit" class="btn" value="Cadastrar" formmethod="post"></td>
            </form>
        </tr>
    </table>
</div>

