<tr>
    <form action="/follow/update/{{ id }}" method="post">
        <td><label>{{ id }}</label></td>
        <td><input type="text" class="text-field" name="nome" value="{{ nome }}"></td>
        <td><input type="text" id="data" class="text-field" name="datan" value="{{ datan }}"></td>
        <td><input type="text" class="text-field" name="acomp" value="{{ acomp }}"></td>
        <td><input type="submit" class="btn" value="Atualizar"></td>
    </form>
    <form action="/follow/delete/{{ id }}" method="post">
        <td><input type="submit" class="btn" value="Apagar"></td>
    </form>
    <form action="/hist/{{ id }}" method="post">
        <td><input type="submit" class="btn" value="Histórico"></td>
    </form>
</tr>