<div class="create-div">
    <hr>
    <h3>Inserir Cuidador</h3>
    <table>
        <tr>
            <form action="{{ url_for('create_caregiver') }}" method="post">

                <td><input type="text" class="text-field" name="name" placeholder="Nome"></td>
                <td><input type="time" class="text-field" name="start_shift"></td>
                <td><input type="time" class="text-field" name="end_shift"></td>

                {% if is_admin %}
                    <td><select class="combo-box" name="patient_id">
                        {% for id, name, birth in patients %}
                            <option value="{{ id }}">{{ name }}</option>
                        {% endfor %}
                    </select></td>
                {% endif %}
        
                <td>
                    <button class="action-btn">
                        <img src="{{ url_for('static', filename='image/create-icon.png')}}" class="action-btn-img" id="create-btn">
                    </button>
                </td>
            </form>
        </tr>
    </table>
</div>

